<div class="main-content">
    <div class="container-fluid">
  
        <div class="row">
            <div class="col-md-12 text-right">
              <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Grant Access</button>
            </div>
          </div>
           <div class="row">
             
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header card-header-danger">
                          <h4 class="card-title ">System Access Information</h4>
                          <p class="card-category"> All available Access authorization records
                          </p>
                          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                              <strong>Error:</strong> {{errorMessage}}
                            </div> 
                            <div *ngIf="successMessage" class="alert alert-success" role="alert">
                                <strong>Well done:</strong> {{successMessage}}
                              </div>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-bordered table-responsive table-striped">
                                  <thead class="thead">
                                    <tr class="thead-cols">
                                      
                                          <th class="info">Accessor Id</th>
                                      
                                          <th class="info">Patient Id</th>
                                      
                                        <th class="info">Actions</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let asset of allAssets">
                          
                                          <td>{{asset.accessorId}}</td>
                                      
                                          <td>{{asset.patientId}}</td>
                                        <td>
                                        <!-- <button (click)="getForm(asset.transactionId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update</button> -->
                                        <button (click)="setId(asset.accessorId, asset.patientId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Revoke Access</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
        
                          </div>
                      </div>
                  </div>
              </div>
        
          </div>

     </div>
  </div>



<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addAssetModalLabel">Grant Access</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="modal-body">
  
              <div class="form-group text-left">
                  <label for="accessorId">Select a data accessor</label>
                  <select class='select-option' class="form-control" required  formControlName='accessorId' (change)='onAccessorOptionSelected(dataAccessors[$event.target.selectedIndex])'>
                      <option class='option' *ngFor='let option of dataAccessors' [ngValue]="option.practiceId" >{{option.userName}}</option>
                  </select>
                </div>
  
                <div class="form-group text-left">
                    <label for="patientId">Select a patient</label>
                    <select class='select-option' class="form-control" required  formControlName='patientId' (change)='onPatientOptionSelected(patients[$event.target.selectedIndex])'>
                        <option class='option' *ngFor='let option of patients' [ngValue]="option.patientId">{{option.firstName}} {{option.lastName}}</option>
                    </select>
                  </div>
              
          </div>
          <div class="modal-footer">
            <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="updateAssetModalLabel">Update</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="modal-body">
  
              <div class="form-group text-left">
                  <label for="accessorId">Select a data accessor</label>
                  <select class='select-option' class="form-control" required  formControlName='accessorId' (change)='onAccessorOptionSelected(dataAccessors[$event.target.selectedIndex])'>
                      <option class='option' *ngFor='let option of dataAccessors' [ngValue]="option.practiceId" >{{option.userName}}</option>
                  </select>
                </div>
  
                <div class="form-group text-left">
                    <label for="patientId">select a patient</label>
                    <select class='select-option' class="form-control" required  formControlName='patientId' (change)='onPatientOptionSelected(patients[$event.target.selectedIndex])'>
                        <option class='option' *ngFor='let option of patients' [ngValue]="option.patientId">{{option.FirstName}} {{option.LastName}}</option>
                    </select>
                  </div>
  
          </div>
          <div class="modal-footer">
            <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  
  <div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteAssetModalLabel">Revoke Access</h4>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
          <div class="modal-body">
            Are you sure you want to revoke this access?
          </div>
          <div class="modal-footer">
            <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </form>
      </div>
    </div>
  </div>