<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">SIGNIN</h4>
                      <p class="card-category">Sign in to get started</p>
                  </div>
                  <div class="card-body">
                        <form [formGroup]="myForm">
                          <div class="row">
                              <div class="col-md-6">
                             <input formControlName="username" type="text" class="form-control" placeholder="Username">
                              </div>
                          </div>
                          <button (click)="submitCred(myForm);" mat-raised-button type="submit" class="btn btn-danger pull-right">Sign In</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-body">
                      <h6 class="card-category text-gray">MEDICHAIN APP</h6>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
